<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  {% raw %}
  <section class="section">

    <div class="columns">
      <div class="column is-one-quarter" style="position: relative; min-height: 30rem;">
        <div class="panel" style="height: 100%;">

          <p class="panel-heading align-center is-capoo">
            好友列表
          </p>

          <p class="control has-icons-left">
            <input class="input" style="border-radius: 0; box-shadow: none;" type="text" placeholder="搜索用户">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>

          <div class="panel-block normal-color" style="display: block; position: absolute; top: 106.5px; bottom: 69px; left: 12px; right: 12px; overflow-y: scroll;">
            <aside class="menu">
              <p class="menu-label">
                在线
              </p>
              <ul class="menu-list" style="margin-left: 0; list-style: none;">
                <li><a>小明</a></li>
              </ul>
              <p class="menu-label">
                离线
              </p>
              <ul class="menu-list" style="margin-left: 0; list-style: none;">
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
                <li><a>小红</a></li>
              </ul>
            </aside>
          </div>

          <div class="panel-block normal-color" style="position: absolute; height: 58px; left: 12px; right: 12px; bottom: 12px;">
            <a href="#" class="card-footer-item is-capoo-2">加入游戏</a>
            <a href="#" class="card-footer-item is-capoo-2">删除好友</a>
          </div>

        </div>

      </div>
      <div class="column" style="position: relative; min-height: 40rem;">
        <div class="panel" style="height: 100%;">
          <p class="panel-heading align-center is-capoo">
            Friend Name
          </p>

          <ul class="panel-block normal-color" style="display: block; position: absolute; top: 66px; bottom: 69px; left: 12px; right: 12px; overflow-y: scroll;">
            <li class="message-block">
              <img class="message-head-other">
              <p class="message-text-other">
                <span class="message-span">aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            <li class="message-block">
              <img class="message-head-mine">
              <p class="message-text-mine">
                <span class="message-span">aaa</span>
              </p>
            </li>
            
          </ul>

          <div class="panel-block normal-color" style="position: absolute; left: 12px; right: 12px; bottom: 12px;">
            <input class="input" type="text">
            <a class="button is-capoo" style="margin-left: 10px;">发送</a>
          </div>

        </div>

      </div>
    </div>
  </section>
  <script>
    new Vue({
      el: '#app',
      data: {
        image_url: '/static/loading.png',
        hint_prefix: '{{ hint_prefix }}',
        hint: '？波',
        description: '我是图片描述'
      },
      mounted: function () {
        this.$http.get('/api/game/core/image').then(function (res) {
          console.log(res.body);
          if (res.body.code == 0) {
            this.image_url = res.body.url;
          } else {
            alert(res.body.message);
          }
        }, function (res) {
          alert(res.status);
        });
      },
    })
  </script>
  {% endraw %}

  {% include 'footer.html' %}

</body>

</html>