<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  {% raw %}
  <section class="section">

    <div class="columns">
      <div class="column is-one-quarter" style="position: relative; min-height: 30rem;">

        <div class="card" style="position: absolute; top: 0; bottom: 20px; left: 0; right: 0;">

          <header class="card-header">
            <p class="card-header-title align-center capoo-color">
              好友列表
            </p>
          </header>

          <p class="control has-icons-left">
            <input class="input" style="border-color: #ffffff;" type="text" placeholder="搜索用户">
            <span class="icon is-left">
              <i class="fas fa-search" aria-hidden="true"></i>
            </span>
          </p>

          <div class="card-content">
            <div class="content">
              <aside class="menu">
                <p class="menu-label">
                  在线
                </p>
                <ul class="menu-list" style="margin-left: 0; list-style: none;">
                  <li><a>小明</a></li>
                </ul>
                <p class="menu-label">
                  离线
                </p>
                <ul class="menu-list" style="margin-left: 0; list-style: none;">
                  <li><a>小红</a></li>
                </ul>
              </aside>
            </div>
          </div>

          <footer class="card-footer" style="position: absolute; left: 10px; right: 10px; bottom: 15px;">
            <a href="#" class="card-footer-item">Save</a>
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
          </footer>

        </div>

      </div>
      <div class="column" style="position: relative; min-height: 40rem;">
        <div class="panel" style="height: 100%;">
          <p class="panel-heading align-center capoo-color">
            Friend Name
          </p>

          <ul class="panel-block" style="display: block; align-items: start; position: absolute; top: 68px; bottom: 70px; left: 10px; right: 10px;">
            <li style="height: auto; width: 100%;">
              <img src="">
              <p class="message-text">aaa</p>
            </li>
            <li style="height: auto; width: 100%;">
              <img>
              <p class="message-text">aaa</p>
            </li>
          </ul>

          <div class="panel-block" style="position: absolute; left: 10px; right: 10px; bottom: 15px;">
            <input class="input" type="text">
            <a class="button capoo-color" style="margin-left: 10px;">发送</a>
            </button>
          </div>

        </div>

      </div>
    </div>
  </section>
  <script>
    new Vue({
      el: '#app',
      data: {
        image_url: '/static/loading.png',
        hint_prefix: '{{ hint_prefix }}',
        hint: '？波',
        description: '我是图片描述'
      },
      mounted: function () {
        this.$http.get('/api/game/core/image').then(function (res) {
          console.log(res.body);
          if (res.body.code == 0) {
            this.image_url = res.body.url;
          } else {
            alert(res.body.message);
          }
        }, function (res) {
          alert(res.status);
        });
      },
    })
  </script>
  {% endraw %}

  {% include 'footer.html' %}

</body>

</html>