<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
  <style>
    .submit-button {
      font-size: 18px;
      text-align: center;
      line-height: 38px;
      border-radius: 4px;
      border: 1px solid #5ac9e8;
      margin: 8px 8px 8px 0;
      width: 80px;
    }

    .submit-button:hover {
      border-color: #485fc7;
    }

    .submit-input {
      margin: 8px;
      width: 100%;
    }

    .card-body {
      width: 100%;
      position: absolute;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      top: 50px;
      bottom: 56px;
      box-shadow: none;
      overflow-y: scroll;
      border-top: 1px solid #dbdbdb;
    }

    .loding-content {
      margin: auto;
      width: 90%;
    }

    .loding-text {
      text-align: center;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  {% include 'nav.html' %}

  <section class="section">
    <div id="app" class="columns is-max-widescreen">
      <div class="column is-two-thirds container">
        <div class="card" style="height: 100%; display: flex;">

          <div class="card-image" v-if="load_finished" style="width: 100%; margin: auto;">
            <figure class="image is-4by3">
              <img ref="image" v-bind:src="image_url" alt="image">
            </figure>
          </div>
          <div class="loding-content" v-if="!load_finished">
            <p class="loding-text title is-5" style="margin-top: 30px;">AI 画图中，请稍等片刻...</p>
            <progress class="progress is-success" value="60" max="100" style="margin-bottom: 30px;">60%</progress>
          </div>
        </div>
      </div>
      <div class="column container">
        <div class="card" style="position: relative; height: 100%; min-height: 40rem;">

          <header class="card-header-title">
            <p style="text-align: center; width: 100%;">快来猜猜图片的词根吧！</p>
          </header>

          {% raw %}
          <div class="card-body">
            <div v-for="msg of messages" class="field is-grouped is-grouped-multiline"
              v-bind:class="{ 'icon-text': msg.is_alert, 'mb-2': !msg.players.length }">
              <span v-if="msg.is_alert" class="icon has-text-info">
                <i class="fas fa-info-circle"></i>
              </span>
              <span v-if="msg.is_alert" v-if="msg.alert_prefix" class="is-size-6">
                {{ msg.alert_prefix }}:&nbsp;
              </span>
              <div v-for="player of msg.players" class="control">
                <div class="tags has-addons">
                  <span class="tag is-light">{{ player.name }}</span>
                  <span class="tag is-info is-light">{{ player.ranking }}</span>
                </div>
              </div>
              <span class="is-size-6">{{ msg.content }}</span>
            </div>
          </div>
          {% endraw %}

          <footer class="card-footer" style="position: absolute; left: 0; right: 0; bottom: 0;">

            <input ref="input_ans" v-model="input_ans" class="input submit-input" v-on:keyup.enter="submit_ans" type="text" maxlength="300">
            <a v-on:click="submit_ans" class="submit-button is-capoo">{{ submit }}</a>

          </footer>
        </div>
      </div>
    </div>
  </section>

  <script>
    new Vue({
      el: '#app',
      data: {
        image_url: '/static/loading.png',

        hint_prefix: '{{ hint_prefix }}',
        hint: '？波',

        input_ans: '',
        timer: '',

        load_finished: false,

        messages: []
      },
      mounted: function () {
        this.$http.get('/api/game/core/image').then(function (res) {
          console.log(res.body);
          if (res.body.code == 0) {
            this.image_url = res.body.url;
          } else {
            console.log('Getting image fails, message:', res.body.message);
          }
        }, function (res) {
          console.log('Request fails, status:', res);
        });

        this.update_info();
        this.timer = setInterval(this.heart_beat, 500);
      },
      methods: {
        update_info: function () {
          this.$http.get('/api/game/core/get_info').then(function (res) {
            if (res.body.code == 0) {
              console.log(res.body.data);
              if (res.body.data == 'game has ended') {
                window.location.href = '/settlement';
              } else {
                this.messages = res.body.data.info_record;
                this.load_finished = res.body.data.image_loaded;
                
                if (res.body.data.image_path != null) {
                  this.image_url = res.body.data.image_path;
                }
              }
            } else {
              console.log('Getting image fails, message:', res.body.message);
            }
          }, function (res) {
            console.log('Request fails, status:', res);
          });
        },
        submit_ans: function (event) {
          this.$http.post('/api/game/core/submit_info', { info: this.input_ans }, { emulateJSON: false }).then(function (res) {
            console.log(res.body);
            if (res.body.code == 0) {
              this.update_info();
              this.input_ans = '';
            } else {
              console.log('Getting image fails, message:', res.body.message);
            }
          }, function (res) {
            console.log('Request fails, status:', res);
          });
        },
        heart_beat: function () {
          this.update_info();
        },
      },
      beforeDestroy() {
        clearInterval(this.timer);
      }
    })
  </script>

  {% include 'footer.html' %}

</body>

</html>