<meta charset="utf-8">
<title>{{ title }} - {{ title_suffix }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.bootcdn.net/ajax/libs/bulma/0.9.4/css/bulma.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.css">
<script src="https://cdn.staticfile.org/vue/2.7.0/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/md5.js"></script>
<style>
    .section {
        padding-top: 1rem;
    }

    .capoo-color {
        color: white;
        background-color: #5ac9e8;
    }

    .align-center {
        display: block;
        text-align: center;
    }

    .message-text {
        display: inline;
    }
</style>