<nav class="navbar" role="navigation" aria-label="main navigation">

  <div id="heart"></div>
  <div class="navbar-brand">
    <a class="navbar-item is-size-4 m-4 has-text-weight-bold is-capoo-3" href="/">
      {{ app_name }}
    </a>
    <a role="button" class="navbar-burger my-4" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="menu" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-capoo-3">
          {{ game_menu }}
        </a>
        <div class="navbar-dropdown">
          <a href="{{ url_for('guest') }}" class="navbar-item">
            {{ test_page }}
          </a>
          <hr class="navbar-divider">
          <a href="#" v-on:click="match_game" class="navbar-item">
            {{ match_mode }}
          </a>
          <a href="{{ url_for('custom') }}" class="navbar-item">
            {{ custom_mode }}
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            {{ ranking }}
          </a>
        </div>
      </div>

      <a v-if="logined" href="{{ url_for('friends') }}" class="navbar-item is-light is-capoo-3">
        {{ friends_page }}
      </a>
      <a v-if="!logined" href="{{ url_for('login') }}?src={{ url_for('friends') }}"
        class="navbar-item is-light is-capoo-3">
        {{ friends_page }}
      </a>

      <a class="navbar-item is-capoo-3">
        {{ about_page }}
      </a>

    </div>
    <div class="navbar-end">

      <div v-if="logined" class="navbar-item has-dropdown is-hoverable mx-4">
        {% raw %}
        <a class="navbar-link is-capoo-3">
          {{ username }}
        </a>
        {% endraw %}
        <div class="navbar-dropdown is-right">
          <a :href="userinfo_prefix + username" class="navbar-item">
            {{ user_info }}
          </a>
          <hr class="navbar-divider">
          <a href="#" v-on:click="perform_logout" class="navbar-item">
            {{ logout }}
          </a>
        </div>
      </div>

      <div v-else class="navbar-item">
        <div class="buttons">

          <a class="button is-capoo" href="{{ url_for('signup') }}?src={{ base_url }}">
            <strong>{{ signup }}</strong>
          </a>

          <a class="button is-light" href="{{ url_for('login') }}?src={{ base_url }}">
            {{ login }}
          </a>

        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>

  <script>
    app = new Vue({
      el: '#menu',
      data: {
        userinfo_prefix: '{{ url_for("userinfo", username="") }}',
        username: '',
        logined: false,
        heart: null,
      },
      mounted: function () {
        this.query_logined();
      },
      methods: {
        query_logined: function () {
          this.$http.get('/api/account/username').then(function (res) {
            console.log(res.body);
            if (res.body.code == 0) {
              this.username = res.body.username;
              this.logined = true;
              // enable heart beat
              this.heart = setInterval(this.heartbeat, 2000);
            }
            else {
              console.log('There is no logined user.');
            }
          }, function (ret) {
            console.log('Request fails, status:', ret);
          });
        },
        heartbeat: function () {
          this.$http.get('/api/heartbeat/imonline').then(
            function (res) { },
            function (res) { clearInterval(this.heart); alert('服务器异常'); }
          );
        },
        perform_logout: function (event) {
          this.$http.get('/api/account/logout').then(function (res) {
            console.log(res.body);
            if (res.body.code == 0) {
              var path = window.location.pathname;
              var panel = path.substring(0, path.lastIndexOf('/'));
              if (path == '/friends' || panel == '/user') {
                window.location.href = '/';
              }
              else location.reload();
            }
            else console.log(res.body.message);
          }, function (res) {
            console.log('Request fails, status:', res);
          });
        },
        match_game: function (event) {
          if (!this.logined) {
            window.location.href = '/login';
          } else {
            window.location.href = '/selectrole';
          }
        },
      },
    });
  </script>

</nav>