<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">
    <a class="navbar-item is-size-4 m-4 has-text-weight-bold is-capoo-3" href="/">
      {{ app_name }}
    </a>
    <a role="button" class="navbar-burger my-4" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-capoo-3">
          {{ game_menu }}
        </a>
        <div class="navbar-dropdown">
          <a href="{{ url_for('game') }}" class="navbar-item">
            {{ test_page }}
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            {{ match_mode }}
          </a>
          <a class="navbar-item">
            {{ custom_mode }}
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            {{ ranking }}
          </a>
        </div>
      </div>

      <a class="navbar-item is-light is-capoo-3" href="{{ url_for('friends') }}">
        {{ friends_page }}
      </a>

      <a class="navbar-item is-capoo-3">
        {{ about_page }}
      </a>

    </div>
    <div id="nav" class="navbar-end">

      <div v-if="logined" class="navbar-item has-dropdown is-hoverable mx-4">
        {% raw %}
        <a class="navbar-link is-capoo-3">
          {{ username }}
        </a>
        {% endraw %}
        <div class="navbar-dropdown">
          <a :href="user_link" class="navbar-item">
            {{ user_info }}
          </a>
          <hr class="navbar-divider">
          <a href="#" v-on:click="logout" class="navbar-item">
            {{ logout }}
          </a>
        </div>
      </div>

      <div v-if="!logined" class="navbar-item">
        <div class="buttons">

          <a class="button is-capoo">
            <strong>{{ register }}</strong>
          </a>

          <a class="button is-light" href="{{ url_for('login') }}?src={{ base_url }}">
            {{ login }}
          </a>

        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $(".navbar-burger").click(function () {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
    });
  </script>

  <script>
    new Vue({
      el: '#nav',
      data: {
        username: '',
        user_link: '',
        logined: false,
      },
      mounted: function () {
        this.$http.get('/api/account/username').then(function (res) {
          console.log(res.body);
          if (res.body.code == 0) {
            this.username = res.body.username;
            this.user_link = '/user/' + this.username;
            this.logined = true;
          } else {
            console.log('There is not logined user.');
          }
        }, function(res) {
          console.log('Request fails, status:', res);
        });
      },
      methods: {
        logout: function (event) {
          this.$http.get('/api/account/logout').then(function (res) {
          console.log(res.body);
          if (res.body.code == 0) {
            location.reload();
          } else {
            console.log(res.body.message);
          }
        }, function(res) {
          console.log('Request fails, status:', res);
        });
        }
      }
    });
  </script>
</nav>