<!DOCTYPE html>
<html>

<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  <section class="section">
    <div id="app" class="container is-max-widescreen">
      <form class="box" v-on:submit.prevent="signup">
        <div class="field">
          <label class="label">{{ username }}</label>
          <div class="control">
            <input ref="username" class="input" v-model="username" v-on:keydown.enter="move_to_password"
              placeholder="{{ please_input_username }}" maxlength="16">
          </div>
        </div>
        <div class="field">
          <label class="label">{{ password }}</label>
          <div class="control">
            <input ref="password" class="input" v-model="password" type="password" maxlength="16">
          </div>
        </div>
        <div class="field">
          <label class="label">{{ password_again }}</label>
          <div class="control">
            <input ref="password_again" class="input" v-model="password_again" type="password" maxlength="16">
          </div>
        </div>
        {% raw %}
        <p class="notification is-danger is-light" v-bind:class="{ 'is-hidden': !error_exist }">{{ message }}
        </p>
        {% endraw %}
        <button class="button is-capoo"
          v-bind:class="{ 'is-capoo-2': signup_enabled, 'is-light': !signup_enabled, 'is-capoo': loading }">
          {{ signup }}
        </button>
      </form>
    </div>
  </section>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        username: '',
        password: '',
        password_again: '',
        username_done: false,
        password_done: false,
        password_again_done: false,
        signup_enabled: false,
        loading: false,
        error_exist: false,
        message: ''
      },
      methods: {
        move_to_password: function (event) {
          if (!this.password_done) {
            this.$refs.password.focus();
          }
        },
        signup: function (event) {
          if (!this.signup_enabled) {
            return;
          }
          this.loading = true;
          this.error_exist = false;
          this.$http.post('/api/account/signup', { username: this.username, password: hex_md5(this.password) }, { emulateJSON: false }).then(function (res) {
            console.log(res.body);
            if (res.body.code == 0) {
              this.error_exist = false;

              var login_url = window.location.origin + '/login';
              var signup_url = window.location.origin + '/signup';
              var src = new URLSearchParams(window.location.search).get('src');
              if (!src || src == signup_url || src == login_url) { src = '/'; }
              
              window.location.href = src;
            } else {
              this.message = res.body.message;
              this.error_exist = true;
            }
          }, function (res) {
            alert(res.status);
          });
          this.loading = false;
        },
        username_invalid: function (val) {
          const invalid_chars = ['.', '*', '?', '/', '\\'];
          for (char of invalid_chars) {
            if (val.indexOf(char) != -1) {
              return true;
            }
          }
          return false;
        }
      },
      watch: {
        username: function (val) {
          if (this.username_invalid(val)) {
            this.username_done = false;
            this.message = '用户名含有非法字符".", "*", "?", "/" 或 "\\"';
            this.error_exist = true;
          } else if (val.length < 4) {
            this.username_done = false;
            this.message = '用户名未达到最小长度';
            this.error_exist = true;
          } else if (val.length > 32) {
            this.username_done = false;
            this.message = '用户名超出最大长度';
            this.error_exist = true;
          } else {
            this.message = '';
            this.error_exist = false;
            this.username_done = true;
          }
          if (this.username_done && this.password_done && this.password_again_done) {
            this.message = '';
            this.error_exist = false;
            this.signup_enabled = true;
          }
        },
        password: function (val) {
          if (! this.username_done) return;
          if (val.indexOf('/') != -1 || val.indexOf('\\') != -1) {
            this.password_done = false;
            this.message = '密码含有非法字符"/"或"\"';
            this.error_exist = true;
          } else if (val.length < 8) {
            this.password_done = false;
            this.message = '密码未达到最小长度';
            this.error_exist = true;
          } else if (val.length > 32) {
            this.password_done = false;
            this.message = '密码超出最大长度';
            this.error_exist = true;
          } else {
            this.message = '';
            this.error_exist = false;
            this.password_done = true;
          }
          if (this.username_done && this.password_done && this.password_again_done) {
            this.message = '';
            this.error_exist = false;
            this.signup_enabled = true;
          }
        },
        password_again: function (val) {
          if (! this.username_done || !this.password_done) return;
          if (val != this.password) {
            this.password_again_done = false;
            this.message = '两次输入的密码不一致';
            this.error_exist = true;
          } else {
            this.message = '';
            this.error_exist = false;
            this.password_again_done = true;
          }
          if (this.username_done && this.password_done && this.password_again_done) {
            this.message = '';
            this.error_exist = false;
            this.signup_enabled = true;
          }
        }
      }
    });
  </script>

  {% include 'footer.html' %}

</body>

</html>