<!DOCTYPE html>
<html>

<head>
    {% include 'header.html' %}
    <style>
        .is-32x32 {
            height: 32px;
            width: 32px;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}

    <section class="section">
        <div id="app" class="columns is-max-widescreen">
            <div class="column"></div>
            <div class="column container is-half">
                {% raw %}
                <div class="card">
                    <div v-if="userinfo.username" class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img :src="userinfo.avatar" alt="avatar">
                                </figure>
                            </div>
                            <div class="media-content m-4">
                                <p class="title is-2">{{ userinfo.username }}</p>
                                <p v-if="userinfo.signature" class="subtitle is-4">个性签名</p>
                                <p v-else class="subtitle is-4">
                                    这个人很懒，什么都没写
                                </p>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <p class="is-size-4">胜场: 100/200</p>
                            </div>
                            <div class="column">
                                <p class="is-size-4">胜率: 50.00%</p>
                            </div>
                        </div>

                        <aside class="menu">
                            <ul class="menu-list">
                                <li><a class="is-active">游戏记录</a></li>

                                <li>
                                    <a class="columns m-4">
                                        <p class="column is-one-quarter">匹配模式</p>
                                        <div class="column">
                                            <img src="/static/avatar.png" class="is-32x32">
                                            <img src="/static/avatar.png" class="is-32x32">
                                            <img src="/static/avatar.png" class="is-32x32">
                                            <img src="/static/avatar.png" class="is-32x32">
                                        </div>
                                        <p class="column is-one-fifth">+20</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="columns m-4">
                                        <p class="column is-one-quarter">匹配模式</p>
                                        <div class="column">
                                            <img src="/static/avatar.png" class="is-32x32">
                                            <img src="/static/avatar.png" class="is-32x32">
                                            <img src="/static/avatar.png" class="is-32x32">
                                            <img src="/static/avatar.png" class="is-32x32">
                                        </div>
                                        <p class="column is-one-fifth">+10</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div v-else class="card-content">
                        <p class="title is-2">{{ error_message }}</p>
                    </div>
                </div>
                {% endraw %}
            </div>
            <div class="column"></div>
        </div>
    </section>

    <script>
        new Vue({
            el: '#app',
            data: {
                username: '{{ username }}',
                error_message: '加载中',
                userinfo: {}
            },
            mounted: function () {
                this.$http.post('/api/account/userinfo', { username: this.username }, { emulateJSON: false }).then(function (res) {
                    console.log(res.body);
                    if (res.body.code == 0) {
                        this.userinfo = res.body.userinfo;
                    } else {
                        console.log('Getting user info fails, message:', res.body.message);
                        this.error_message = res.body.message;
                    }
                }, function (res) {
                    console.log('Request fails, status:', res);
                    this.error_message = '服务器异常';
                });
            },
        })
    </script>

    {% include 'footer.html' %}

</body>

</html>