<!DOCTYPE html>
<html>

<head>
    {% include 'header.html' %}
    <style>
        .is-32x32 {
            height: 32px;
            width: 32px;
        }

        .game-record {
            height: 40px;
            font-size: 22px;
            border-radius: 4px;
            text-align: center;
            line-height: 40px;
        }

        .game-column {
            position: relative;
        }

        .game-data {
            display: inline-block;
            color: black;

            border-bottom: 1px solid;
            border-color: #4a4a4a;

            width: 80%;
            margin: 0 10%;

            line-height: 35px;
            padding: 0;

            font-size: 18px;
            text-align: center;
        }

        .one-record {
            display: inline-block;

            min-width: 232px;
            text-align: center;

            border-color: #5ac9e8;
            border-style: solid;
            border-width: 2px;
            border-radius: 8px !important;
        }

        .game-mode {
            font-size: 20px;
        }

        .game-score {
            font-size: 20px;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <section class="section">
        <div id="app" class="column container">
            {% raw %}
            <div class="card">
                <div v-if="userinfo.username" class="card-content" style="min-height: 47rem;">
                    <div class="columns">
                        <div class="column is-one-fifth">
                            <figure class="image is-128x128 my-6" style="margin: auto;">
                                <img :src="avatar" alt="avatar">
                            </figure>
                            <div v-if="is_self_info">
                            <a style="text-align: center; display: block;"
                                v-on:click="$refs.file.click()">修改头像</a>
                            <input type="file" accept="image/png" ref="file" style="display: none"
                                v-on:change="upload_avatar">
                            </div>
                        </div>
                        <div class="column" style="display: block; position: relative; min-height: 120px;">
                            <div style="margin-top: 3rem; margin-left: 2rem; margin-right: 2rem;">
                                <p class="title is-3" style="margin-bottom: 35px;">
                                    {{ userinfo.username }}
                                </p>
                                <div v-if="editing_signature">
                                    <input type="text" maxlength="140" v-model="new_signature" :value="userinfo.signature" class="is-size-6" style="width: 100%; margin-bottom: 1rem;">
                                    <a v-on:click="update_signature">提交签名</a>
                                </div>
                                <div v-else>
                                    <p v-if="userinfo.signature" class="subtitle is-6">
                                        {{ userinfo.signature }}
                                    </p>
                                    <p v-else class="subtitle is-6">
                                        这个人很懒，什么都没写
                                    </p>
                                    <a v-if="is_self_info" v-on:click="editing_signature = true">修改签名</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns" style="position: relative;">
                        <div class="column game-column"><p class="game-data">积分 {{ userinfo.ranking }}</p></div>
                        <div class="column game-column"><p class="game-data">胜场 {{ userinfo.winnum }}/{{ userinfo.allnum }}</p></div>
                        <div class="column game-column"><p class="game-data">信誉 {{ userinfo.reputation }}</p></div>
                    </div>

                    <aside class="menu">
                        <ul class="menu-list">
                            <li>
                                <div class="is-capoo game-record">游戏记录</div>
                            </li>

                            <li v-for="record of userinfo.record">
                                <a class="columns m-4 one-record">
                                    <p class="column is-one-quarter game-mode">{{ record.mode }}</p>
                                    <div class="column">
                                        <img v-for="player of record.others" :src="'/avatar/' + player" class="is-32x32">
                                    </div>
                                    <p class="column is-one-fifth game-score">{{ record.score }}</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div v-else class="card-content">
                    <p class="title is-2">{{ error_message }}</p>
                </div>
            </div>
            {% endraw %}
        </div>
    </section>

    <script>
        new Vue({
            el: '#app',
            data: {
                username: '{{ username }}',
                is_self_info: false,
                avatar: '',
                error_message: '加载中',
                userinfo: {},
                editing_signature: false,
                new_signature: '',
            },
            mounted: function () {
                this.$http.post('/api/account/userinfo', { username: this.username }, { emulateJSON: false }).then(function (res) {
                    console.log(res.body);
                    if (res.body.code == 0) {
                        this.avatar = '/avatar/' + this.username;
                        this.userinfo = res.body.userinfo;
                        if (this.userinfo.username == nav_app.$data.username) {
                            this.is_self_info = true;
                        }
                    } else {
                        console.log('Getting user info fails, message:', res.body.message);
                        this.error_message = res.body.message;
                    }
                }, function (res) {
                    console.log('Request fails, status:', res);
                    this.error_message = '服务器异常';
                });
            },
            methods: {
                upload_avatar: function (event) {
                    const path = event.target.files[0];
                    const data = new FormData();
                    data.append("file", path);
                    this.$http.post('/api/account/upload_avatar', data).then(
                        function (res) {
                            if (res.body.code == 0) {
                                location.reload();
                            } else {
                                alert(res.body.message);
                            }
                        },
                        function (res) {
                            alert('上传头像失败');
                        }
                    );
                },
                update_signature: function (event) {
                    this.$http.post('/api/account/update_signature', {signature: this.new_signature}, {emulateJSON: false}).then(
                        function (res) {
                            if (res.body.code == 0) {
                                location.reload();
                            } else {
                                alert(res.body.message);
                            }
                        },
                        function (res) {
                            alert('修改签名失败');
                        }
                    );
                }
            }
        })
    </script>

    {% include 'footer.html' %}

</body>

</html>